<div class="container">
    <h1 class="heading">Get In <span class="text">Touch</span></h1>
    <div class="input-container">
        <div class="info">
            <h3 class="sub-heading">Drop an Email</h3>
            <span class="description">"Please do not hesitate to contact me. I am readily available for discussions on new projects, innovative ideas, or opportunities to contribute to your initiatives."</span>
            <div class="contacts" *ngFor="let contact of contacts">
                <span class="icon" nz-icon [nzType]="contact.icon" nzTheme="outline"></span>
                <div class="contact">
                    <span class="key">{{contact.key}}</span>
                    <span class="value">{{contact.value}}</span>
                </div>
            </div>
            <div class="social-icons">
                <span class="icon" nz-icon nzType="github" nzTheme="outline"></span>
                <span class="icon" nz-icon nzType="twitter" nzTheme="outline"></span>
                <span class="icon" nz-icon nzType="facebook" nzTheme="outline"></span>
                <span class="icon" nz-icon nzType="linkedin" nzTheme="outline"></span>
            </div>
        </div>
        <div class="form">
            <input nz-input class="name" placeholder="Name" />
            <input nz-input class="email"placeholder="Email" />
            <input nz-input class="subject" placeholder="Email Subject" />
            <textarea class="email-data" nz-input placeholder="Email Body"></textarea>
            <button class="more-btn" (click)="downloadResume()">Download CV <span class="arrow-right" nz-icon nzType="send" nzTheme="outline"></span></button>
        </div>
    </div>
</div>
