<div class="container">
    <h1 class="heading">My <span class="text">Portfolio</span></h1>
    <div class="controls">
        <button *ngFor="let control of controls" nz-button [nzType]="selected == control.value ? 'link': 'text'" (click)="filter(control.value)">{{control.label}}</button>
    </div>
    <div class="cards">
        <div class="card" *ngFor="let project of filteredProjects">
            <img [src]="project.image ? project.image : 'https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png'" alt="portfolio" />
            <div class="info">
                <h3 class="title">{{project.title}}</h3>
                <p class="description">{{project.description}}</p>
                <div class="tags">
                    <nz-tag *ngFor="let tag of project.tags" nztype="primary">{{tag}}</nz-tag>
                </div>
            </div>
        </div>
    </div>
</div>
