<div class="container">
  <div class="img-container">
    <img src="assets/images/profile.jpg" />
  </div>
  <div class="main-container">
    <div class="info-container">
      <h1 class="heading"><span class="dash"></span>I'M ALI HASAN.</h1>
      <h1 class="heading-2">FULL STACK ENGINEER</h1>
      <p class="description">
        Innovative Full-Stack Developer with 3+ years of hands-on experience specializing in Python (Django) and JavaScript (Angular, React). Proven expertise in driving end-to-end development processes, from concept through execution, to enhance product functionalities and user experience. Adept at fostering collaboration within cross-functional teams to surpass objectives and deliver cutting-edge solutions.
      </p>
      <button class="more-btn" (click)="openAboutPage()">
        MORE ABOUT ME
        <span
          class="arrow-right"
          nz-icon
          nzType="arrow-right"
          nzTheme="outline"
        ></span>
      </button>
    </div>
  </div>
</div>
