.container {
    display: flex;
    background-color: var(--background-color);
    .img-container {
        padding: 40px 40px 40px 40px;
        height: 100vh;
        width: 50%;
        img {
            border-radius: 30px;
            height: 100%;
            width: 100%;
        }
    }
    .main-container{
        flex: 0 0 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        .info-container{
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 0 10%;
            gap: 8px;
            width: 90%;
            .heading, .heading-2 {
                font-size: 51px;
                line-height: 62px;
                font-weight: 700;
                display: flex;
                align-items: center;
                color: var(--primary-color);
                gap: 4px;
                margin: 0;
                font-family: "Poppins",sans-serif;
                .dash {
                    display: block;
                    width: 40px;
                    height: 4px;
                    background-color: var(--primary-color);
                    border-radius: 16px;
                }
            }
            .heading-2 {
                color: var(--secondary-color);
                padding-left: 44px;
            }
            .description {
                text-align: justify;
                color: var(--secondary-color);
                font-family: "Poppins",sans-serif;
                font-size: 20px;
            }
            .more-btn {
                border: 1px solid var(--primary-color);
                width: 230px;
                height: 55px;
                border-radius: 35px;
                background: transparent;
                padding-left: 36px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: relative;
                background: linear-gradient(to right, transparent 50%, var(--primary-color) 50%) left;
                background-size: 200%;
                transition: .5s ease-out;
                color: var(--secondary-color);
                font-size: 15px;
                font-weight: 600;
                line-height: 1.4;
                .arrow-right {
                    background-color: var(--primary-color);
                    position: absolute;
                    right: -1px;
                    top: -1px;
                    bottom: 0;
                    width: 55px;
                    height: 55px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 19px;
                    color: #fff;
                    border-radius: 50%;
                }
            }
            .more-btn:hover{
                background-color: var(--primary-color);
                transform: translateX(0);
                background-position: right;
                color: white;
            }
        }
    }
}